<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.demo4.dao.InsertLogDao">
    <insert id="saveInsertLog" useGeneratedKeys="true" keyProperty="id" parameterType="com.demo4.entity.InsertLog">
        INSERT INTO insertlog(time,value) VALUE (#{time},#{value})
    </insert>
    <select id="findAll" resultType="com.demo4.entity.InsertLog">
        SELECT * FROM insertlog
    </select>
</mapper>