<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.demo4.dao.UserLogDao">
    <insert id="saveUserLog" parameterType="com.demo4.entity.UserLog" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO userlog(action,username,time) VALUES (#{action},#{username},#{time})
    </insert>
    <select id="findAll" resultType="com.demo4.entity.UserLog">
        SELECT * FROM userlog
    </select>
</mapper>